<div class="buttonWrapper">
  <a class="button" href="projects">view all projects</a>
</div>

<style>
  .buttonWrapper {
    padding: 20px;
  }

  .button {
    font-family: "Sono";
    font-size: 14px;
    font-weight: normal;
    text-transform: lowercase;
    color: var(--lightAccent);

    background: rgba(248, 255, 249, 0.3);
    /* background: var(--lightAccent); */
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-radius: 10px;
    padding: auto;

    cursor: pointer;

    position: relative;

    left: 50%;
    transform: translate(-50%, 0%);

    transition: 0.25s;
  }

  .button:hover {
    transform: translate(-50%, -3px) scale(1.005);
    background: var(--darkAccent);
    border: 1px solid var(--darkAccent);
    color: #fff;
  }
</style>
