*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1.5;
  font-size: 2em;
}

h2 {
  font-family: "Kodchasan";
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.5em;
}

h3 {
  font-family: "Kodchasan";
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.25em;
}

p {
  font-family: "Quicksand";
  line-height: 1.5;
}

body {
  color: #333;
  background-color: #ddffea;

  --nav-height: 75px;
  --lightAccent: #5f9e83;
  --darkAccent: #2e8b57;
  --body-background: #ddffea;
  --productFinalBackground: #d3ebda;
}

a {
  color: var(--darkAccent);
  text-decoration: underline;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  margin-left: auto;
  margin-right: auto;


  padding-bottom: 125px;

  width: 100%;
  height: auto;
  min-height: 100vh;
}


.glass-full {
  overflow-y: visible;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.9);

  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;

  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 125px;
  border-radius: 40px 40px 0px 0px;

  width: 80%;
}



.button {
  display: inline-block;

  font-family: "Sono";
  font-weight: 500;
  font-size: 0.9em;
  text-transform: lowercase;

  background-color: var(--lightAccent);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;

  transition: 0.25s;
}

.button:hover {
  background-color: var(--darkAccent);
}

a {
  text-decoration: none;
}

@keyframes blurTransitionIn {
  from {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  to {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

@keyframes blurTransitionOut {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  to {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}

@keyframes fadeTransitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeTransitionOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#transitionOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Ensure it's above other content */
  pointer-events: none;
  /* Allow interaction with elements below */
  animation: blurTransitionIn 1s ease-in-out forwards;
}

#container {
  max-width: 100%;
  animation: fadeTransitionIn 1s ease-out;
}

.externalLink {
  color: var(--darkAccent);
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
}