a {
    color: var(--darkAccent);
    text-decoration: underline;
    font-weight: bold;
}

.caption {
    text-align: center; 
    margin-top: -10px;
    font-family: "Quicksand";
}

.video {
    margin: auto;
    width: 1120px;
    height: 630px;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.caseStudyVideo {
    width: 1120px;
    margin: auto;
    margin-top: 30px;
}

.caseStudy {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.fullImgCover {
    width: 100%;
    height: auto;
    top: 0;

    overflow: hidden;
}

.bannerImgCover {
    width: 100%;
    height: calc(50vh);
}

.bannerImgCover img {
    width: 100%;
    height: 50vh;
    object-fit: cover;

    position: absolute;
    top: 0;
}

.imageFill {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
}

.columnContainer {
    display: flex;
    gap: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.columnContainer strong {
    color: var(--darkAccent);
}


#eDropsCoverBanner {
    object-position: 50% 95%;
}

#lampCoverBanner {
    object-position: 50% 5%;
}

#moodiMeCoverBanner {
    object-position: 50% 15%;
}


#cluBoProduct {
    max-width: 800px;
    height: auto;
    margin: auto;

    margin-top: 100px;
}


#digiSenseAidContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#digiSenseAidContainer p {
    text-align: center;
    margin-top: 5px;
}

#digiSenseAidContainer svg {
    fill: #ebebeb;
}

@media screen and (max-width: 800px) {
    .video {
        width: 600px;
        height: 400px;
    }

    .caseStudyVideo {
        width: 600px;
    }

    .caseStudy {
        width: 90%;
    }

    .columnContainer {
        flex-direction: column;
    }

    #cluBoProduct {
        width: 90%;
    }



}

@media screen and (max-width: 600px) {
    .video {
        margin-top: -30px;
        width: 340px;
        height: 200px;
    }

    .caseStudyVideo {
        width: 340px;
    }

    .columnContainer {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}