---
import Site from "../layouts/Site.astro";

import Blobs from "../components/Blobs.svelte";
import Footer from "../components/Footer.astro";

import Bio from "../components/Bio.svelte";
import PersonalList from "../components/personals/PersonalList.svelte";

import { getCollection } from "astro:content";

const personals = await getCollection("personals");
const personalsData = Object.fromEntries(
  personals.map(({ data }) => [data.label, data.label])
);
---

<Site>
  <div id="heroWrapper" slot="header">
    <Bio client:load />
    <Blobs client:load />
  </div>
  <div class="glass-full">
    <PersonalList personals={personalsData} client:load />
    <Footer />
  </div>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }

  #featured-title {
    font-family: "Kodchasan";
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.25em;
  }
</style>
