---
import Site from "../layouts/Site.astro";

import Blobs from "../components/Blobs.svelte";
import Footer from "../components/Footer.astro";

import Meow from "../components/AboutMe.svelte";
---

<Site>
  <div id="heroWrapper" slot="header">
    <Meow client:load />
    <Blobs client:load />
  </div>
  <div class="glass-full">
    <Footer />
  </div>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }

  #featured-title {
    font-family: "Kodchasan";
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.25em;
  }
</style>
