---
import Site from "../layouts/Site.astro";

import Blobs from "../components/Blobs.svelte";
import Footer from "../components/Footer.astro";

import Bio from "../components/Bio.svelte";
import PersonalList from "../components/personals/PersonalList.svelte";

import { getCollection } from "astro:content";
import PhotoGallery from "../components/PhotoGallery.svelte";
import GalleryItem from "../components/GalleryItem.svelte";

const personals = (await getCollection("personals")).sort(
  (a, b) => a.data.order - b.data.order
);
const personalsData = Object.fromEntries(
  personals.map(({ data, slug }) => [data.label, slug])
);
---

<Site>
  <div id="heroWrapper" slot="header">
    <Bio client:load />
    <Blobs client:load />
  </div>
  <div class="glass-full">
    <h2 id="featured-title">more about me</h2>
    <PhotoGallery client:load />
    <GalleryItem client:load />
    <PersonalList personals={personalsData} client:load />
    {
      personals.map(async (personal: any) => {
        const { Content, components } = await personal.render();
        return (
          <div id={personal.slug} style="display: none">
            <Content />
          </div>
        );
      })
    }

    <Footer />
  </div>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }

  #featured-title {
    font-family: "Kodchasan";
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.25em;
  }

  @media (max-width: 800px) {
    .glass-full {
      width: 90%;
    }
  }
</style>
