---
import Site from "../layouts/Site.astro";

import Hero from "../components/Hero.svelte";
import Blobs from "../components/Blobs.svelte";

import ProjectItem from "../components/ProjectItem.svelte";
import ProjectList from "../components/ProjectList.astro";

import DrTrust from "../images/covers/Dr_Trust.jpg";
import DigiSense from "../images/covers/DigiSense.jpg";

import "../styles/general.css";
import "../styles/fonts.css";
---

<Site>
  <div id="heroWrapper" slot="header">
    <Hero client:load />
    <Blobs client:load />
  </div>
  <ProjectList>
    <ProjectItem
      client:load
      image={DrTrust.src}
      title="MIT Reality Hack 2024 - Winner"
      tags="spatial design"
      header="Facilitating medical conversations through mixed reality collaboration"
      description="In a world with deep patient distrust and misunderstanding, Dr. Trust allows doctors to <strong>educate and reassure</strong> patients through clear <strong>visualizations</strong> of medical issues and how they can be treated."
    />

    <ProjectItem
      client:load
      image={DigiSense.src}
      title="Fostering time awareness and numerical understanding within dyscalculic children"
      tags="product design, ui design"
      header="Fostering time awareness and numerical understanding within dyscalculic children"
      description="Dyscalculia is a condition that impairs people's grasps of fundamental math concepts and their <strong>sense of time</strong>. DigiSense bridges the gap between <strong>abstract concepts and real-world experiences</strong>."
    />
  </ProjectList>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }
</style>
