---
import Site from "../layouts/Site.astro";

import Hero from "../components/Hero.svelte";
import Blobs from "../components/Blobs.svelte";

import ProjectItem from "../components/ProjectItem.svelte";
import ProjectList from "../components/ProjectList.astro";

import { getEntry } from "astro:content";
const DrTrust = await getEntry("projects", "dr-trust");
const DigiSense = await getEntry("projects", "digisense");
---

<Site>
  <div id="heroWrapper" slot="header">
    <Hero client:load />
    <Blobs client:load />
  </div>
  <ProjectList>
    <ProjectItem project={DrTrust.data} />
    <ProjectItem project={DigiSense.data} />
  </ProjectList>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }
</style>
