---
import Site from "../layouts/Site.astro";

import Hero from "../components/hero/Hero.svelte";
import Blobs from "../components/Blobs.svelte";

import ProjectItem from "../components/project/ProjectItem.svelte";
import ProjectContainer from "../components/project/ProjectContainer.svelte";
import ViewProjectsButton from "../components/project/ViewProjectsButton.astro";

import Footer from "../components/Footer.astro";

import { getEntry } from "astro:content";
const featuredProjects = ["dr-trust", "digisense"];
---

<Site>
  <div id="heroWrapper" slot="header">
    <Hero client:load />
    <Blobs client:load />
  </div>
  <div class="glass-full">
    <div>
      <h1 id="featured-title">featured projects</h1>
    </div>
    <ProjectContainer>
      {
        featuredProjects.map(async (slug) => {
          const project = await getEntry("projects", slug);
          if (!project) return null;
          return <ProjectItem project={{ slug, ...project.data }} />;
        })
      }
    </ProjectContainer>
    <ViewProjectsButton />
    <Footer />
  </div>
</Site>

<style>
  #heroWrapper {
    position: relative;
    height: 90vh;
    width: 100%;
  }

  #featured-title {
    font-family: "Kodchasan";
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.25em;
  }

  @media (max-width: 800px) {
    .glass-full {
      width: 90%;
    }
  }
</style>
