<link
  rel="stylesheet"
  href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="navbar">
  <div class="home-link">
    <a href="/">Jessica Sheng</a>
  </div>

  <div class="page-links">
    <a href="/projects" class="hover-underline-animation">project dump</a>
    <a href="/about-me" class="hover-underline-animation">about me</a>
  </div>
</div>

<div class="phoneMenu">
  <header class="header">
    <div class="menu">
      <button class="btn-menu">
        <span class="line"></span><span class="line"></span>
      </button>
      <div class="menu-container">
        <div class="logo"><a href="/">Jessica Sheng</a></div>
        <ul class="menu-list">
          <li class="menu-item"><a href="/projects">project dump</a></li>
          <li class="menu-item"><a href="/about-me">about me</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<script>
  /*normal nav bar mvt function*/
  const nav = document.querySelector(".navbar");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (lastScrollY < window.scrollY && window.scrollY > 0) {
      if (nav) {
        nav.classList.add("nav--hidden");
      }
    } else {
      if (nav) {
        nav.classList.remove("nav--hidden");
      }
    }
    lastScrollY = window.scrollY;
  });

  /*phone nav*/

  var btnMenu = document.querySelectorAll(".btn-menu");
  var menuClickHandler = function (e: any) {
    e.target.parentElement.parentElement.classList.toggle("-open");
  };

  btnMenu.forEach(function (item, index) {
    item.addEventListener("click", menuClickHandler);
  });
</script>

<style lang="scss">
  /*phone nav*/

  .phoneMenu a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }

  .phoneMenu {
    margin: 0 30px;
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    height: 80px;
    position: absolute;

    color: #fff;

    .btn-menu {
      position: fixed;
      z-index: 99;
      width: 24px;
      height: 24px;
      background: 0;
      border: 0;
      top: 35px;

      .line {
        position: absolute;
        left: 0;

        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--lightAccent);
        pointer-events: none;
        transition: all 0.3s;

        &:first-child {
          top: 7px;
        }

        &:last-child {
          top: 14px;
        }
      }
    }

    .menu-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      z-index: 98;

      .logo {
        font-size: 14px;
        font-family: "Work Sans", sans-serif;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 35px;
        right: 30px;
      }

      .menu-list {
        margin-top: 100px;
        margin-left: 35px;
        list-style: none;
        font-size: 16px;
        font-family: "Work Sans", sans-serif;
      }

      .menu-item {
        margin: 14px 0;
        padding: 4px;
        overflow: hidden;
        display: block;
        padding: 10px 0;
        overflow: hidden;

        a {
          display: block;
          opacity: 100;
          transform: translateZ(0);
        }
      }
    }
  }

  //-------------

  .header.-open {
    .btn-menu .line {
      &:first-child {
        transform: translate3d(0px, 0, 0) rotate(-45deg);
      }
      &:last-child {
        transform: translate3d(0px, -7px, 0) rotate(45deg);
      }
    }
    .menu-item {
      a {
        animation: Ani_menu-show 1s cubic-bezier(0.19, 1, 0.22, 1) backwards;
        opacity: 1;
        transition: opacity 1.4s 100ms;
      }
    }
  }

  .phoneMenu {
    .menu-container {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
      transition:
        transform 400ms,
        opacity 300ms,
        visibility 400ms;
      background-color: var(--lightAccent);
    }

    .header.-open {
      .line {
        background-color: #fff;
      }
      .menu-container {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
</style>

<style>
  .navbar a {
    color: var(--darkAccent);
    font-weight: normal;
    text-decoration: none;
  }

  .home-link a {
    font-weight: 500;
  }
  .navbar {
    font-family: "Work Sans", sans-serif;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    align-items: center;
    font-size: 14px;
    width: 80%;

    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.9);

    padding: 0 2.5rem;

    border-radius: 20px;

    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: ease-out 0.25s;
  }

  .nav--hidden {
    transform: translate(-50%, calc(-1 * var(--nav-height) - 30px));

    box-shadow: none;
  }

  .home-link {
    text-transform: uppercase;
    float: left;
  }

  .page-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
    gap: 2rem;

    float: right;
  }

  .page-links :hover {
    color: var(--darkAccent);
  }

  /*tutorial: https://unclebigbay.com/how-to-create-an-hover-underline-animation-in-css/*/
  .hover-underline-animation {
    position: relative;
    color: var(--darkAccent);
    text-decoration: none;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--darkAccent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

    transform: scaleX(0);
  }

  .hover-underline-animation:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  @media screen and (max-width: 800px) {
    .navbar {
      width: 90%;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar {
      display: none;
    }

    .phoneMenu {
      display: block !important;
    }
  }
</style>
