---
import { getCollection, getEntry } from "astro:content";
import Site from "../../layouts/Site.astro";
import NextProject from "../../components/NextProject.svelte";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;

// use date
const projects = (await getCollection("projects"))
  .filter((project) => project?.data?.alt !== "Menace")
  .sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

projects.map((project) => ({
  slug: project.slug,
  ...project.data,
}));

const idx = projects.findIndex((p) => p.slug === slug);
if (idx === -1) {
  throw new Error(`Project with slug '${slug}' not found`);
}

const { Content } = await projects[idx].render();

const nextProject = projects[(idx + 1) % projects.length];
---

<Site>
  <div class="glass-bg">
    <Content />
    <NextProject
      project={{
        slug: nextProject.slug,
        ...nextProject.data,
      }}
    />
    <Footer />
  </div>
</Site>
