---
import { getCollection, getEntry } from "astro:content";
import Site from "../../layouts/Site.astro";
import NextProject from "../../components/NextProject.svelte";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;

// use date
const projects = (await getCollection("projects")).sort((a, b) =>
  a.data.date > b.data.date ? -1 : 1
);

// Filter out projects with a specific alt string
const filteredProjects = projects.filter(
  (project) => project.data.alt !== "Menace"
);

const idx = filteredProjects.findIndex((p) => p.slug === slug);

const { Content } = await filteredProjects[idx].render();
const nextProject = filteredProjects[(idx + 1) % filteredProjects.length];
---

<Site>
  <div class="glass-bg">
    <Content />
    <NextProject
      project={{
        slug: nextProject.slug,
        ...nextProject.data,
      }}
    />
    <Footer />
  </div>
</Site>
