---
import Site from "../../layouts/Site.astro";

import Blobs from "../../components/Blobs.svelte";

import { getEntry } from "astro:content";
const DigiSense = await getEntry("projects", "digisense");
---

<div></div>
<style></style>
