---
import Site from "../../layouts/Site.astro";

import Blobs from "../../components/Blobs.svelte";

import { getEntry } from "astro:content";
const DigiSense = await getEntry("projects", "digisense");
---

<Site>
  <div class="glass-bg">
    <div class="caseStudyImgBanner"></div>
  </div>
</Site>
