---
import Site from "../../layouts/Site.astro";
import ProjectList from "../../components/project/ProjectList.svelte";
import Footer from "../../components/Footer.astro";

import { getCollection, type CollectionEntry } from "astro:content";

// use date
const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const projectData = projects.map((project) => ({
  slug: project.slug,
  ...project.data,
}));

const tags = {
  "show all": "",
  "spatial design": "spatial design",
  "ui design": "ui design",
  "product design": "product design",
  "3d models": "3d model",
  illustrations: "illustration",
};
---

<Site>
  <div class="glass-bg">
    <ProjectList tags={tags} projects={projectData} client:load />

    <Footer />
  </div>
</Site>

<style>
  .glass-bg {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 125px;
  }

  @media (max-width: 800px) {
    .glass-bg {
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 70px;
    }
  }
</style>
