---
import { SEO } from "astro-seo";
import Site from "../../layouts/Site.astro";
import ProjectList from "../../components/project/ProjectList.svelte";
import Footer from "../../components/Footer.astro";

import { getCollection, type CollectionEntry } from "astro:content";

// use date
const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const projectData = projects.map((project) => ({
  slug: project.slug,
  ...project.data,
}));

const tags = {
  "show all": "",
  "spatial design": "spatial design",
  "product design": "product design",
  art: "art",
  development: "dev",
};
---

<html>
  <SEO
    title="Jessica Sheng - All Projects"
    description="this page is the complete collection of all of my projects, big and small. here, you can view my explorations in spatial design, product design, art, and development."
    openGraph={{
      basic: {
        title: "Jessica Sheng - All Projects",
        type: "A type.",
        image:
          "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
      },
    }}
  />
</html>
<Site>
  <div class="glass-bg">
    <ProjectList tags={tags} projects={projectData} client:load />

    <Footer />
  </div>
</Site>

<style>
  .glass-bg {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 125px;
  }

  @media (max-width: 800px) {
    .glass-bg {
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 70px;
    }
  }
</style>
