---
import Blobs from "../components/Blobs.svelte";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import "../styles/app.css";
import "../styles/fonts.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jessica Sheng</title>
  </head>
  <body>
    <Navbar />
    <div id="container">
      <div id="transitionOverlay"></div>
      <Blobs />
      <slot name="header" />
      <slot />
    </div>
  </body>
</html>

<script>
  function handleTransition() {
    const container = document.getElementById("container") as HTMLElement;
    const overlay = document.getElementById("transitionOverlay") as HTMLElement;

    if (container.style.opacity === "1") {
      return new Promise((resolve) => {
        container.style.animation = "fadeTransitionOut .1s ease-in";
        overlay.style.animation = "blurTransitionOut .1s ease-out backwards";
        setTimeout(() => {
          container.style.opacity = "0";
        }, 100);

        setTimeout(() => {
          resolve(0);
        }, 200);
      });
    } else {
      return new Promise((resolve) => {
        container.style.animation = "fadeTransitionIn .1s ease-out";
        overlay.style.animation = "blurTransitionIn .1s ease-out backwards";
        setTimeout(() => {
          container.style.opacity = "1";
        }, 100);

        setTimeout(() => {
          resolve(0);
        }, 0);
      });
    }
  }

  // Intercept link clicks
  document.addEventListener("click", (event: any) => {
    const target = event.target.closest("a");

    if (target && target.href && !target.target) {
      event.preventDefault();

      handleTransition().then(() => {
        window.location.href = target.href;
      });
    }
  });

  // Intercept back/forward button navigation
  window.addEventListener("popstate", () => {
    handleTransition();
  });
</script>
