---
import Blobs from "../components/Blobs.svelte";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import "../styles/app.css";
import "../styles/fonts.css";
---

<html lang="en">
  <head>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jessica Sheng</title>
  </head>
  <body>
    <Navbar />
    <div id="container">
      <div id="transitionOverlay"></div>
      <Blobs />
      <slot name="header" />
      <slot />
    </div>
  </body>
</html>

<script>
  function handleTransition() {
    const container = document.getElementById("container") as HTMLElement;
    const overlay = document.getElementById("transitionOverlay") as HTMLElement;

    return new Promise((resolve) => {
      container.style.animation = "fadeTransitionOut .1s ease-in";
      overlay.style.animation = "blurTransitionOut .1s ease-out backwards";
      setTimeout(() => {
        container.style.opacity = "0";
      }, 100);

      setTimeout(() => {
        resolve(0);
      }, 100);
    });
  }

  // Intercept link clicks
  document.addEventListener("click", (event: any) => {
    const target = event.target.closest("a");

    if (target && target.href && !target.target) {
      event.preventDefault();

      handleTransition().then(() => {
        window.location.href = target.href;
      });
    }
  });

  window.addEventListener("pageshow", function (event) {
    var historyTraversal =
      event.persisted ||
      (typeof window.performance != "undefined" &&
        window.performance.getEntriesByType("navigation")[2]);

    if (historyTraversal) {
      // Handle page restore.
      window.location.reload();
    }
  });

  // Intercept back/forward button navigation
  // window.addEventListener("popstate", () => {
  //   handleTransition();
  // });
</script>
